
.sidenav {
  background-color: rgb(63, 80, 181);
  width: 200px;
}

.sidenav a {
  color: #ffffff;
}

.sidenav a:hover {
  background-color: rgba(231, 12, 59, 0.308);
}

.sidenav a:host {
  background-color: rgba(231, 12, 59, 0.308);
}

.sidenav i {
  padding-right: 10px;
}

mat-nav-list {
  overflow: hidden;
}


.ativo {
  width: 10.5rem;
}

.content-nav {
  padding: 16px;
  background-color: #ffffff;
}

@media (max-width: 360px) {
  .sidenav {
    width: 3rem;
  }

  .sidenav:hover {
    width: 10.5rem;
  }

}

