<div class="primary-nav">
  <mat-sidenav-container class="container-nav" >
    <mat-sidenav class="sidenav" mode="side" [opened]="true" fixedInViewport="true" fixedTopGap="64" appCustomNav>

      <mat-nav-list class="nav-list">
        <a mat-list-item (click)="navigate('/historico')" routerLinkActive=".ativo" >
          <i class="material-icons">person</i>
          Historico
        </a>

        <a mat-list-item (click)="navigate('/combustivel-info')">
          <i class="material-icons">trending_up</i>
          Combustível info
        </a>
      </mat-nav-list>

      <!-- <button mat-button [matMenuTriggerFor]="animals">Opções</button> -->
      <mat-menu #animals="matMenu" yPosition="below" xPosition="after">
      </mat-menu>

    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
