
<section class='list-combustivel'>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z5">

    <ng-container matColumnDef="municipio">
      <th mat-header-cell *matHeaderCellDef> Município </th>
      <td mat-cell *matCellDef="let element"> {{element.municipio}} </td>
    </ng-container>

    <ng-container matColumnDef="media">
      <th mat-header-cell *matHeaderCellDef> Média </th>
      <td mat-cell *matCellDef="let element"> {{element.media}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  </section>

