<button mat-raised-button (click)="novoHistorico()" >
  Novo Historico
</button>

<section class='list-table'>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> UID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="combustivel">
      <th mat-header-cell *matHeaderCellDef> Combustivel </th>
      <td mat-cell *matCellDef="let element"> {{element.combustivel}} </td>
    </ng-container>


    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{element.data}} </td>
    </ng-container>


    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef> Preço </th>
      <td mat-cell *matCellDef="let element"> {{element.preco}} </td>
    </ng-container>


    <div>
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <a (click)="onUpdate(element)">
            <i class="material-icons edit">edit</i>
          </a>
          <a (click)="onDelete(element.id)">
            <i class="material-icons delete">delete</i>
          </a>
        </td>
      </ng-container>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  </section>


