
        <form [formGroup]="histForm">

              <mat-form-field>
                <mat-label>Combustivel </mat-label>
                <input matInput placeholder="Combustível"
                type="text"
                name="combustivel"
                formControlName='combustivel' >
              </mat-form-field>

              <mat-form-field>
                <mat-label>Data <i></i></mat-label>
                <input matInput placeholder="Data" name="data" type="date"
                  formControlName="data">
              </mat-form-field>


              <mat-form-field color='success'>
                <mat-label>Preço </mat-label>
                <input matInput placeholder="Preço"
                type="text"
                name="preço"
                formControlName='preco'>
              </mat-form-field>

          <div>
            <button mat-raised-button color="default"  (click)="onCancel()">Cancelar</button>
            <button mat-raised-button (click)="onSubmit()" cdkFocusInitial> Salvar </button>
          </div>
        </form>
